body {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 45px;
}

.color {
    color: indianred;
}

h3 {
    font-size: 25px;
}

section {
    display: flex;
}

.share {
    width: 50%;
}

.share img {
    width: 60%;
}