body {
    font-family: 'Oswald', sans-serif;
    margin: 0%;
}

.color {
    color: indianred;
}

.flexible-container {
    display: flex;
    padding-top: 10%;

}

.share {
    width: 50%;
    padding-left: 40px;
}

.share img {
    width: 50%;

}

.anchor {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.mid-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}